/* start footer styles-------------------- */
.containerFooter {
 width: 100%;
 position: relative;
 padding-bottom: 100px;
}

.footer {
 position: fixed;
 bottom: 0;
 margin: 0 auto;
 left: 0;
 width: 100%;
 height: 80px;
 z-index: 100;
}

.contentFooter {
 width: 100%;
 height: 100%;
 margin: 0 auto;
 left: 0;
 background-color: #fff;
 transition-duration: 1.2s;
}

@media screen and (min-width: 1024px) {
 .footer {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 100;
  left: 0;
 }

 .contentFooter {
  transition-duration: 0.5s;
  width: 360px;
  height: 100%;
  background-color: #ffffff;
 }




}

/* END footer styles-------------------- */


/* start Header styles-------------------- */
.containerHeader {
 width: 100%;
 height: 48px;
 position: relative;
 margin-bottom: 8px;
}

.Header {
 position: fixed;
 top: 0;
 left: 0;
 margin: 0 auto;
 width: 100%;
 height: 48px;
 z-index: 100;
}

.contentHeader {
 width: 100%;
 height: 100%;
 margin: 0 auto;
 left: 0;
 background-color: #ffffff;
 transition-duration: 1.2s;
}

@media screen and (min-width: 1024px) {
 .Header {
  position: fixed;
  width: 100%;
  height: 48px;
  z-index: 100;
  left: 0;
 }

 .contentHeader {
  width: 360px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  transition-duration: 0.5s;
 }
}

/* charts styles-------------------- */
.recharts-legend-wrapper {
 display: none;
}



.recharts-layer {
 outline: none !important;
}

.ss01 {
 -moz-font-feature-settings: "ss01";
 -webkit-font-feature-settings: "ss01";
 font-feature-settings: "ss01";
}

/* حذف بوردر پیش‌فرض با اولویت بالا */
.PieChart *:focus,
.PieChart *:active {
 outline: none !important;
 border: none !important;
}